<?xml version="1.0" encoding="UTF-8"?>
<plugin id="org.fathens.cordova.plugin.aws.cognito" version="0.2.0" xmlns="http://www.phonegap.com/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Fabric</name>
    <description>Cordova Plugin for AWS Cognito</description>
    <license>MIT</license>

    <engines>
        <engine name="cordova-android" version=">=6.0.0" />
        <engine name="cordova-ios" version=">=4.3.0" />
    </engines>

    <preference name="AWS_COGNITO_CUSTOM_PROVIDER_ID" />

    <js-module name="AWSCognitoPlugin" src="www/cognito.js">
        <clobbers target="plugin.AWS.Cognito"/>
    </js-module>

    <dependency id="org.fathens.cordova.plugin.aws.lambda" url="https://github.com/fathens/cordova-plugin-aws-lambda.git" commit="master" />

    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="application">
            <meta-data android:name="org.fathens.aws.s3.bucket" android:value="AWS_COGNITO_CUSTOM_PROVIDER_ID"/>
        </config-file>

        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="AWSCognitoPlugin">
                <param name="android-package" value="org.fathens.cordova.plugin.aws.AwsCognito"/>
            </feature>
        </config-file>

        <source-file src="platforms/android/src/main/kotlin/AwsCognito.kt" target-dir="kotlin/org.fathens.cordova.plugin.aws"/>

        <framework src="platforms/android/plugin.gradle" custom="true" type="gradleReference"/>
    </platform>

    <platform name="ios">
        <config-file target="*-Info.plist" parent="CordovaAWS">
            <dict>
                <key>S3BucketName</key>
                <string>AWS_COGNITO_CUSTOM_PROVIDER_ID</string>
            </dict>
        </config-file>

        <config-file parent="/*" target="config.xml">
            <feature name="AWSCognitoPlugin">
                <param name="ios-package" value="AwsCognito"/>
            </feature>
        </config-file>

        <source-file src="platforms/ios/src/AwsCognito.swift"/>

        <podfile swift_version="3.0">
            <pod name="AWSCore" version="~> 2.4.16" />
        </podfile>
    </platform>
</plugin>
